<div>
    <article>
        <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Cum quaerat, vitae illum earum omnis in placeat ipsum laborum nemo, accusantium obcaecati distinctio cumque aspernatur molestias officiis! Necessitatibus animi sunt debitis.</p>
    </article>
</div>

<form action="POST">
    <div class="mail-form">
        <label for="">Son adresse : </label>
        <input type="email" name="destinataire" placeholder="nom@email.com" size="30" required>
        <label for="">Votre adresse : </label>
        <input type="email" name="destinataire" placeholder="nom@email.com" size="30" required>
    </div>
    <div>
        <label for="">Votre message :</label>
        <input type="text" name="myInput" placeholder="écrivez ici..." size="50" required>
    </div>
    <div>
        <label for="">Pièce jointe : </label>
        <input type="file" name="myInput" accept="image/*, .pdf">
    </div>

    <input type="submit" name="Envoyer" value="Envoyer" id="">
</form>