<div class="image-container">
    <!--<p>titre</p>
    <img src="../img/placeholder.jpg" alt="">-->
    <!--Mettre une bannière pour chaque lien ?-->
    <a href="https://www.youtube.com/channel/UCoTq63ursVJRPJW3D9KisLA" target="_blank">
        <p class="social-link">Youtube</p>
    </a>
    <a href="https://www.twitch.tv/thefshow" target="_blank">
        <p class="social-link">Twitch</p>
    </a>
    <a href="https://www.instagram.com/thefshow_surinsta/" target="_blank">
        <p class="social-link">Instagram</p>
    </a>
    <a href="https://discord.com/invite/PkQsASA" target="_blank">
        <p class="social-link">Rejoindre notre Discord</p>
    </a>
    <a href="https://www.facebook.com/TheFantasticShow/" target="_blank">
        <p class="social-link">Facebook</p>
    </a>
</div>