/*-- Fira Sans + Raleway --*/

@import url("https://fonts.googleapis.com/css2?family=Fira+Sans&family=Raleway:wght@200&display=swap");
* {
    box-sizing: border-box;
}


/*---- Classe Basique ----*/

body {
    padding: 0;
    margin: 0;
    font-family: "Fira Sans", sans-serif;
}

h1 {
    font-family: "Raleway", sans-serif;
    font-size: 2.8em;
}

a {
    text-decoration: none;
    color: #fff;
    cursor: pointer;
}

nav {
    padding: 10px 0;
}

main {
    min-height: 90vh;
}


/*---- Classe Personnalisées ----*/

.header-wrapper {
    position: fixed;
    top: 0;
    width: 100%;
    background-image: url(../img/background_stars.jpg);
    color: #fff;
}

.container {
    width: 80%;
    margin: 0 auto;
}

.main-container {
    padding-top: 180px;
}


/* Réseaux sociaux - image */

.image-container {
    width: 80%;
    display: flex;
    flex-wrap: wrap;
    border: 2px #222 solid;
    margin: 5% auto;
}

.image-container p {
    flex-basis: 100%;
    text-align: center;
    font-size: 2em;
}

.image-container img {
    flex-basis: 50%;
    align-items: center;
    justify-content: center;
    background-color: #555;
}


/*-- Menu + Navigation --*/

.link a {
    color: blue;
    cursor: pointer;
    text-decoration: underline;
}

.menu {
    display: flex;
    padding: 0;
    margin: 0;
    font-size: 1.2em;
    list-style: none;
}

.menu li {
    display: block;
}

.menu a {
    display: block;
    color: #fff;
    margin-right: 10px;
    padding: 5px;
    transition: all 200ms ease-in;
    border-radius: 3px;
    text-decoration: none;
}

.menu a:hover {
    background-color: #ccc;
    color: #11b1d0;
}

.stock-jokes {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.stock-jokes h2 {
    font-size: 1.6em;
    font-family: cursive;
    padding: 28px;
}

.stock-jokes div {
    flex-basis: 48%;
    background-color: #febb0f;
    padding: 6px;
    margin: 10px;
    border-radius: 10px;
}

.stock-jokes article {
    background-color: #057df5;
    border-radius: 18px;
    padding: 10px;
    margin: 10px;
}

.stock-jokes p {
    color: #fff;
    font-size: 1em;
}

.media-fluide {
    height: auto;
    width: 100%;
}

footer {
    margin-top: 50px;
    height: 50px;
    background-color: #161a24;
}


/*-- Media Query --*/

@media screen and (max-width: 825px) {
    .container {
        width: 90%;
    }
}